fastapi==0.110.1
uvicorn==0.29.0
sqlalchemy==2.0.29
pymysql==1.1.0
pydantic==2.6.4
pydantic-settings==2.2.1
python-dotenv==1.0.1
email-validator==2.1.1
cryptography==42.0.5
passlib==1.7.4
bcrypt==4.1.2

 {
    "customer_id": "CUST-00B725",
    "full_name": "lakshan niroshan",
    "email": "lakshan@email.com",
    "phone": "0987654321",
    "address": "kandy, sri lanka",
    "account_type": "household",
    "status": "active",
    "created_at": "2026-04-26T07:18:42"
  }